body {
    background: #98825A;
}

.home {
    position: absolute;
    width: 199px;
    height: 74px;
    left: 18px;
    top: 39px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #F5F5F5;
}

.headline1 {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 122px;
    right: auto;
    left: auto;
    border: 1px solid #674422;
}

.headline2 {
    position: absolute;
    width: 120px;
    height: 0px;
    left: 344px;
    top: 60px;
    border: 1px solid #674422;
    transform: rotate(-90deg);
}

.box1 {
    position: absolute;
    width: 169px;
    height: 63px;
    left: 530px;
    top: 31px;
    background: #BCB097;
}

.box2 {
    position: absolute;
    width: 169px;
    height: 63px;
    left: 730px;
    top: 31px;   
    background: #BCB097;
}

.box3 {
    position: absolute;
    width: 169px;
    height: 63px;
    left: 930px;
    top: 31px;
    background: #BCB097;
}

.box4 {
    position: absolute;
    width: 169px;
    height: 63px;
    left: 1130px;
    top: 31px;
    background: #BCB097;
}

.coffeewriting {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 213px;
    top: 210px;
}

.fantasy {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 733px;
    top: 210px;
}

.pets {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 213px;
    top: 490px;
}

.rollerskates {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 733px;
    top: 490px;
}